.sub-total {
  border: 0.0625rem solid #0d6efd;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  border-radius: 0.625rem;
  padding-inline: 0.625rem;
  box-shadow: 0px 14px 14px 1px rgb(0 0 0 / 15%);
  width: 30%;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .sub-total {
    width: 100%;
  }
}
