.basketContainer {
  position: relative;
  cursor: pointer;
  align-items: flex-start;
  border: none;
}

.basketQuantity {
  background-color: #0d6efd;
  color: white;
  font-weight: 700;
  height: 1.375rem;
  width: 1.375rem;
  border-radius: 10px;
  text-align: center;
  border: 1px solid;
  position: absolute;
  top: -0.9375rem;
  right: 0.3125rem;
  font-size: 0.75rem;
}

.pumpCartQuantity {
  animation: pumping 300ms ease-out;
}
.btns:disabled {
  cursor: not-allowed;
}

@keyframes pumping {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
